{% extends 'stuff/base.html' %}
{% block content %}
    <section id="title">
        <div class="row">
            <div class="col-4">
                <!-->
            </div>
            <div class="col-8">
                <h1>Polls List</h1>
            </div>
        </div>
    </section>
    <section id="main_section_page">
        <div class="container">
            <div class="row">
                <div class="col-3">
                        <div class="fill-viewport align-items-center">
                            <h3 class="lead text-info">Quick Links:</h3>
                            <h4><a href="{% url 'stuff:start' %}">Main Page</a></h4>
                            <h4><a href="{% url 'stuff:faction' %}">Factions</a></h4>
                            <h4><a href="{% url 'stuff:race' %}">Races</a></h4>
                            <h4><a href="{% url 'stuff:class' %}">Classes</a></h4>
                            <h4><a href="{% url 'stuff:characters' %}">Characters</a></h4>
                            <h4>Polls</h4>
                        </div>
                    </div>
                <div class="col-9">
                    {% if latest_question_list %}
                        <h3 class="lead text-info">Polls:</h3>
                        <ul class="list-unstyled">
                            {% for question in latest_question_list %}
                            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> (created on: {{question.pub_date}})</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No polls are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}