{%extends 'stuff/base.html'%}
{%block content%}
    <title>Alliance list</title>
    <section id="header" class="navbar nav-transparent text-primary">
        <div class="container">
            <div class="col-3">
            </div>
            <div class="col-1">
                <img src="https://awaitingthemuse.files.wordpress.com/2014/04/30day-day-1-alliance.png" height="50" width="50" />
            </div>
            <div class="col-8">
                <h1>Alliance Characters</h1>
            </div>
        </div>
    </section>
    <section id="main_section_list">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="fill-viewport align-items-center">
                        <h2 class="lead text-info">List of characters:</h2>
                        {%if alliance%}
                            {%for element in alliance%}
                                <ul class="list-unstyled">
                                    <li><a href="{%url 'stuff:alliancecharacter' element.id%}">{{element}}</a></li>
                                </ul>
                            {%endfor%}
                        {%else%}
                            <p>There are no characters in here...</p>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}


