{%extends 'stuff/base.html'%}'stuff/base.html'%}
{%block content%}
    <title>Horde list</title>
    <section id="header" class="navbar nav-transparent text-primary">
        <div class="container">
            <div class="col-3">
            </div>
            <div class="col-1">
                <img src="https://seeklogo.com/images/W/World_of_Warcraft_Horde_PvP-logo-E1C4DB80A9-seeklogo.com.png" height="50" width="40" />
            </div>
            <div class="col-3">
                <h1>Characters</h1>
            </div>
            <div class="col-1">
                <img src="https://awaitingthemuse.files.wordpress.com/2014/04/30day-day-1-alliance.png" height="50" width="50" />
            </div>
            <div class="col-4">
                <!-->
            </div>
        </div>
    </section>
    <section id="main_section_list">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="fill-viewport align-items-center">
                        <h3 class="lead text-info">Quick Links:</h3>
                        <h4><a href="{% url 'stuff:race' %}">Races</a></h4>
                        <h4><a href="{% url 'stuff:faction' %}">Factions</a></h4>
                        <h4><a href="{% url 'stuff:class' %}">Classes</a></h4>
                    </div>
                </div>
                <div class="col-4">
                    <div id="inline" class="fill-viewport align-items-center">
                        <h2 class="title text-info">Horde</h2>
                        <hr class="big" />
                        <ul class="list-unstyled">
                            {% for character in hordecharacter_list %}
                                <li><a href="{%url 'stuff:horde' character.id%}"><span class="text-info">{{character}}</span></a> - <span>{{character.faction}}</span> - <span>{{character.race}}</span> - <span>{{character.character_class}}</span></li>
                            {% endfor %}
                        </ul>
                            <br /><br /><br />
                            <h2 class="title text-info">Alliance</h2>
                            <hr class="big" />
                        <ul class="list-unstyled">
                            {% for character in alliance_list %}
                            <li><a href="{%url 'stuff:alliance' character.id%}"><span class="text-info">{{character}}</span></a> - <span>{{character.faction}}</span> - <span>{{character.race}}</span> - <span>{{character.character_class}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}


