{% extends 'stuff/base.html' %}
{% block content %}
    <title>World of Warcraft</title>
    <section id="header" class="navbar nav-transparent text-primary">
        <div class="container">
            <div class="col-3">
            </div>
            <div class="col-1">
                <img src="https://awaitingthemuse.files.wordpress.com/2014/04/30day-day-1-alliance.png" height="50" width="50" />
            </div>
            <div class="col-8">
                <h1>World of Warcraft</h1>
            </div>
        </div>
    </section>
    <section id="main_section_list">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="fill-viewport align-items-center">
                        <h3 class="lead text-info">Quick Links:</h3>
                        <h4><a href="{% url 'stuff:start' %}">Main Page</a></h4>
                        <h4><a href="{% url 'stuff:faction' %}">Factions</a></h4>
                        <h4><a href="{% url 'stuff:race' %}">Races</a></h4>
                        <h4>Classes</h4>
                        <h4><a href="{% url 'stuff:characters' %}">Characters</a></h4>
                        <h4><a href="{% url 'polls:index' %}">Polls</a></h4>
                    </div>
                </div>
                <div class="col-8">
                    {% for class in class_list %}
                        <h2 class="lead text-info">
                            {% if class.image %}
                                <img src="{{class.image.url}}" height="20" width="20" />
                            {% endif %}
                            {{class}}
                        </h2>
                        <hr class="small" />
                        <p>{{class.class_text}}</p>
                    {% endfor %}
                </div>
                <div class="col-1">
                    <!-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
