{% extends 'stuff/base.html' %}
{% block content %}
    <title>{{object.character_name}}</title>
    <section id="header" class="navbar nav-transparent text-primary">
        <div class="container">
            <div class="col-3">
            </div>
            <div class="col-1">
                <img src="https://awaitingthemuse.files.wordpress.com/2014/04/30day-day-1-alliance.png" height="50" width="50" />
            </div>
            <div class="col-8">
                <h1>{{object.character_name}}</h1>
            </div>
        </div>
    </section>
    <section id="main_section_page">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="fill-viewport align-items-center">
                        <h3 class="lead text-info">Quick Links:</h3>
                        <h4><a href="{% url 'stuff:start' %}">Main Page</a></h4>
                        <h4><a href="{% url 'stuff:faction' %}">Factions</a></h4>
                        <h4><a href="{% url 'stuff:race' %}">Races</a></h4>
                        <h4><a href="{% url 'stuff:class' %}">Classes</a></h4>
                        <h4><a href="{% url 'stuff:characters' %}">Characters</a></h4>
                        <h4><a href="{% url 'polls:index' %}">Polls</a></h4>
                    </div>
                </div>
                <div class="col-6">
                    <h2 id="text" class="lead text-info">About {{object.character_name}}</h2>
                    <hr class="big" />
                    {% if object.character_info != None %}
                        <p>{{object.character_info}}</p>
                    {% endif %}	
                    {% if object.image %}
                        <img src="{{object.image.url}}" width="500" height="350" alt="Image not found" />
                    {% endif %}
                </div>
                <div class="col-3">
                    <h2 class="lead text-info">Character Info:</h2>
                    <h4>Faction: {{object.faction}}</h4>
                    <h4>Race: {{object.race}}</h4>
                    <h4>Class: {{object.character_class}}</h4>
                    <h4>Status: {{object.status}}</h4>
                    <br />
                    <h2 class="lead text-info">Query Info:</h2>
                    <h4>ID: {{object.id}}   </h4>
                    <h4>Created: {{object.article_creation_date}}</h4>
                </div>
            </div>
        </div>
    </section>
{% endblock %}