{%extends 'stuff/base.html'%}
{%block content%}
    <title>World of Warcraft</title>
    <section id="header" class="navbar nav-transparent text-primary">
        <div class="container">
            <div class="col-3">
            </div>
            <div class="col-1">
                <img src="https://awaitingthemuse.files.wordpress.com/2014/04/30day-day-1-alliance.png" height="50" width="50" />
            </div>
            <div class="col-8">
                <h1>World of Warcraft</h1>
            </div>
        </div>
    </section>
    <section id="main_section_list">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="fill-viewport align-items-center">
                        <h3 class="lead text-info">Quick Links:</h3>
                        <h4><a href="{% url 'stuff:race' %}">Races</a></h4>
                        <h4><a href="{% url 'stuff:faction' %}">Factions</a></h4>
                        <h4><a href="{% url 'stuff:class' %}">Classes</a></h4>
                        <h4><a href="{% url 'stuff:characters' %}">Characters</a></h4>
                    </div>
                </div>
                <div class="col-9">
                    <h2 id="text" class="lead text-info">What is World of Warcraft?</h2>
                    <hr id="big" />
                    <p>In the game, players design a character to play based on a number of starting options, such as the race of a character and its type or class. Gameplay primarily consists of completing quests, dungeon runs and raids, and other in-game activities, in order to obtain rewards which will allow one to improve one's character and equipment in order to be able to complete the more difficult quests, dungeon runs and raids. Players can also participate in player versus player combat, either in large groups, small team matches, or individual skirmishes.</p>
                    <p>Over time, a number of additional features and improvements have been added to the game world, such as additional locations to explore, and seasonal and periodic events such as Halloween, Midsummer and weekly fishing competitions. Among the newer features added are a pet battle system akin to Pokémon, where players can collect pets all over the game world and battle with them and garrisons, which is a player-controlled area where players recruit non-player characters (NPCs) to carry out quests to earn players or the NPCs items. Players can also modify their in-game experience through the use of third-party modifications such as macros and add-ons.</p>
                    <h3 class="lead text-info">Questing</h3>
                    <hr class="small" />
                    <p>A large amount of World of Warcraft revolves around questing. These tasks or missions are usually available from non-player characters.Quests usually reward the player with experience points and in-game money that the character can then spend on buying new skills and buying new equipment. Some quests offer a selection of quest rewards, allowing the player to choose what would suit his or her character best. It is also through the use of quests that much of the game's story is told, with NPCs sometimes performing a small routine once a quest is handed in. Sometimes, quests of this nature are linked together by a common theme. Where one quest ends, another starts, forming a quest chain. A unique aspect of World of Warcraft is the use of a "rested bonus" system, increasing the rate that a character can gain experience points after the player has spent time away from the game.</p>
                    <h3 class="lead text-info">Dungeons</h3>
                    <hr class="small" />
                    <p>Some of the harder challenges in World of Warcraft require players to group together to defeat them. These usually take place in dungeons or in separate zones, also known as instances, that a group of characters can enter together. The term comes from each group or party having a separate copy or instance of the dungeon, complete with their own enemies to defeat and their own treasure or rewards. This allows players to explore areas and defeat quests without other players outside the group interfering. Dungeons are spread over the game world and are designed for characters of varying progression. A "looking for group" option allows players to passively find other players interested in doing the same instance.</p>
                    <h3 class="lead text-info">Player vs Player (PvP)</h3>
                    <hr class="small" />
                    <p>Players may choose to fight against others in player versus player combat. World of Warcraft contains a variety of mechanisms for this. First, some servers (labeled PvP) allow player versus player combat to take place almost anywhere in the game world outside of areas for new players. In these environments, members of opposing factions can attack each other at any time. In contrast, player versus environment (PvE) servers allow a player to choose to engage in combat against other players. On both server types, there are special areas of the world where free-for-all combat is permitted.[26]

World of Warcraft also makes use of battlegrounds. These locations act in a similar way to dungeons or instances in that only a set number of characters can enter a single battleground, but additional copies of the battleground can be made to accommodate additional players.[36] Each battleground has a set objective, such as capturing a flag or defeating an opposing general, that must be completed in order to win the battleground. Victory rewards the character with Honor Points that can be used to buy armor and weapons.</p>
                </div>
                <div class="col-1">
                    <!-->
                </div>
            </div>
        </div>
    </section>
{%endblock%}


